.hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1-fr);
    padding-top: 5rem;
    /* Equivalent to pt-20 */

    /* Fallback color if the variable isn't set */
    background-color: var(--dynamic-bg, #ffffff);

    transition: background-color 0.5s ease;
    /* Smooth transition */
}
.service-title {
    text-align: center;
    margin-bottom: 2.5rem;
    padding: 1.25rem;
    font-size: 3.75rem;
    /* 6xl */
    font-weight: 800;
    color: #dc2626;
    /* red-600 */
    position: relative;
    letter-spacing: 2px;
}

.service-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #dc2626;
    margin: 10px auto 0;
    border-radius: 2px;
}
.service-title-gradient {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 900;
    /* Gradient Magic */
    background: linear-gradient(to right, #ffffff, #f50303);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
    text-transform: uppercase;
}
.service-container {
    text-align: center;
    margin: 40px auto;
    max-width: fit-content;
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    /* Capsule shape */
}

.service-title-glass {
    color: #dc2626;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}